.fondo{
    width: 100vmin;
    height: 100vmin;
}
.container{
    width: 100vmin;
    height: 100vmin;
    div{
        color:white;
    }
}

.opciones {
    background-color:rgb(218, 218, 218);
    margin-left: 5vmin;
    border-radius: 1vmin;
    div {
        color:black;
    }
}

.position {
    height: 50vmin; 
    margin-top: 10vmin;
}

.info_Usuario{
    text-align: center;
    background-color:#1d1d1d;
    div {
        margin-top: 2vmin;
        cursor:default;
    }
}

.texto_opciones{
    div{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vmin;
        &:hover{
            cursor: pointer;
            background-color:#ffffff;
            border-radius: 1vmin;            
        }
    }
}

.usuario{
    width: 75px; 
    height: 75px;
}

.form{
    background-color: #1d1d1d;
}

.editArtist{
    margin-left: 5px;
    margin-top: 5px;
    p{
        text-align: left;
    }
}