.fondo{
    width: 100vmin;
    height: 100vmin;
}
.container{
    width: 100vmin;
    height: 100vmin;
    div{
        color:white;
    }
}

.opciones {
    background-color:rgb(218, 218, 218);
    margin-left: 5vmin;
    margin-right: -0.5vmin;
    border-radius: 1vmin;
    div {
        color:black;
    }
}

.position {
    height: 50vmin; 
    margin-top: 10vmin;
}

.info_Usuario{
    text-align: center;
    background-color:#1d1d1d;
    div {
        cursor:default;
        margin-left: 0.5vmin;
    }
}

.texto_opciones{
    div{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1vmin;
        &:hover{
            text-decoration: none;
            cursor: pointer;
            background-color:#ffffff;
            border-radius: 1vmin;            
        }
    }
}
