@import '../../style/variables';

#player {
  width: 100%;
  //height: fit-content;
  display: flex;
  background: rgba(65, 60, 60, 0.95);
  align-items: center;
  align-content: center;
}

.colored-icon {
  color: #9fa8da;
}

#yt-player {
  width: 0;
  height: 0;
}

#playButton {
  width: fit-content;
  height: fit-content;
  background: none;
  padding: 0;
}

#volume-container {
  padding: 20px;
  display: flex;
  align-items: center;
  align-content: center;
}

.elegant-slider {
  height: 3px;
  outline: none;
  opacity: 0.7;
  margin: 5px;
  transition: opacity .2s;
}
.elegant-slider:hover {
  opacity: 1;
}

#song-details-container {
  flex-grow: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#media-controls-container {
  padding: 10px 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 5;
}

#time-details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  flex-grow: 1;
}

#played-time-slider {
  flex-grow: 3;
}

.discrete-text {
  color: #838383;
}

.visible-text {
  color: $secondary;
}