.logIn-btn{
  background-color: $color-dark;
  color: $secondary;
  margin-bottom: 18px;
  &:hover{
    transform: scale(1.04);
    background-color: $color-light;
    color: #FFF;
  }
}

.signIn-btn{
  background-color: transparent;
  color: $primary;
  border: solid 2px $primary;
  margin-bottom: 18px;
  &:hover{
    transform: scale(1.04);
    background-color:$primary;
    color: $secondary;
  }
}