.no-design{
  background: transparent;
  outline: none;
  border: none;
}

.dropdown-item{
  color: #FFFFFF !important;
  font-weight: 200 !important;
  font-size: 16px;
  &:hover !important;{
    background-color: #323232 !important;
  }
}

.f-24{
  font-size: 55px;
}

.modalHeader{
  font-size: 25px;
  font-weight: 355;
  color: #FFFFFF;
}

.modalBody{
  font-size: 25px;
  font-weight: 350;
}

