@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import '../../../node_modules/react-pro-sidebar/dist/scss/styles';
@import '../components/report/report';
@import '../components/utils/utils';
@import '../components/logIn/logIn';
@import '../components/home/home.scss';

body {
  background: $primary;
}


.form-container{
  margin-top: 2rem;
  width: 450px;
}

.btn{
  border-radius: 500px;
  width: 100%;
  line-height: 1;
  padding: 14.5px;
  transform: translate3d(0px,0px,0px);
  transition-duration: 33ms;
  transition-property: background-color, transform;
}

.facebook-btn{
  background-color: $facebook;
  color: $secondary;
  margin-bottom: 18px;
  &:hover{
    transform: scale(1.04);
    background-color: $facebook-hover;
    color: #FFF;
  }
}

.divider{
  display: table;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0px auto 1em;
  color: rgb(117, 117, 117);
  position: relative;
  text-align: center;
  width: 95%;
  &:before, &:after{
    border-top: 1px solid rgb(189, 189, 189);
    content: "";
    display: table-cell;
    position: relative;
    top: 0.8em;
    width: 45%;
  }
}

.pro-sidebar{
  height: 100vh;
  min-width: 240px;
}

a{
  color: $color-dark;
  text-decoration: underline;
  &:hover{
    color: $color-medium
  }
}