@import url('https://fonts.googleapis.com/css?family=Cormorant');

/* Typography */
$font-family-base: Circular,Candara;
$font-size-base: 1.4rem;
/* Colors */
$primary: #202225;
$secondary: #EEEEEE;
$theme-colors: (
        "primary": #202225,
        "secondary": #F4EEED
);
$facebook: #3A5897;
$facebook-hover: #6B82B1;