@import url('https://fonts.googleapis.com/css?family=Cormorant');

/* Typography */
$font-family-base: Circular,Candara;
$font-size-base: 1.4rem;
/* Colors */
$primary: #1D1D1DF2;
$gray: #323232;
$light-gray: #414141;
$secondary: #EEEEEE;
//"primary": #202225,
$theme-colors: (
        "primary": #1D1D1DF2,
        "secondary": #F4EEED,
        "secondary-light": #F4EEED94
);
$facebook: #3A5897;
$facebook-hover: #6B82B1;