@import url('https://fonts.googleapis.com/css?family=Cormorant');

/* Dropdown menu */
$dropdown-bg:  #323232de;
$dropdown-link-hover-bg:  #1D1D1DF2;

/* Typography */
$font-family-base: Circular,Candara;
$font-size-base: 1.4rem;
/* Colors */
$primary: #1D1D1DF2;
$gray: #323232;
$light-gray: #838383;
$secondary: #ebebeb;
$secondary-light: #F4EEED94;
//"primary": #202225, #f4eeed
$theme-colors: (
        "primary": #1D1D1DF2,
        "secondary": #ebebeb,
        "secondary-light": #F4EEED94,
        "purple-dark": #3F51B5,
);
$facebook: #3a5897;
$facebook-hover: #6B82B1;
$color-dark: #3F51B5;
$color-medium: #5C6BC0;
$color-light: #9FA8dA;
$primary-light: #1D1D1DCC;

/* Modals */
$modal-header-padding: 8px;
$modal-content-border-radius: 0px;
$modal-content-border-width: 0px;
$modal-content-bg: #ffffff;
$modal-footer-border-width: 2px;
$modal-sm: 400px;
