.item-card{
  flex: 1;
  width: 100%;
  padding: 16px;
  position: relative;
  align-items: center;
  background-color: #181818;
  cursor: pointer;
  border-radius: 4px;
  isolation: isolate;
  transition: background-color .3s ease;
  &:hover{
    background-color: #282828;
  }
}

.card-text{
  color: #bababa;
  font-size: 14px;
}

.card-song-title{
  font-weight: 545;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: -5px;
}

.thumbnail-col {
  box-sizing: border-box;
  margin-left: 24px;
  margin-top: 24px;
  position: relative;
  width: 162px;
}

.thumbnail-artist{
  width: 162px;
}

.thumbnail-user{
  width: 80px;
}

.genre-bg{
  background-color: #9fa8da;
}

h1{
  cursor: default;
}

.genre-card{
  width: 250px;
  height: 170px;
  &:hover{
    h1{
      transition-duration: 0.5s;
      transition-property: font-size;
      font-size: 4.5rem;
    }
  }
}

.album-card{
  width: 250px;
  height: 335px;
  background-color: transparent;
  border: none;
}

.month-br{
  border-right: solid 2px #323232;
}

.home-container{
  display: grid;
  grid-gap: 24px;
  padding: 24px 16px 0px;
  margin: 0;
  max-width: 1955px;
}

.section-container{
  flex-direction: column;
  position: relative;
  min-height: 300px;
  min-width: 100%;
  margin-bottom: 16px;
  display: flex;
}

.songs-container{
  --minimumColumnWidth: 180px;
  overflow-y: hidden;
  //grid-auto-rows: 0;
  grid-template-rows: 1fr;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill,minmax(var(--minimumColumnWidth),1fr));
}

.image-container{
  position: relative;
  margin-bottom: 16px;
}

.image-shadow{
  width: 100%;
  position: relative;
  background-color: #333;
  box-shadow: 0 8px 24px #00000080;
}

.image-top{
  width: 100%;
  border-radius: 2px;
}

