.home-container{
  display: grid;
  grid-gap: 24px;
  padding: 24px 16px 0px;
  margin: 0;
  max-width: 1955px;
}

.section-container{
  flex-direction: column;
  position: relative;
  min-height: 300px;
  min-width: 100%;
  margin-bottom: 16px;
  display: flex;
}

.songs-container{
  --minimumColumnWidth: 180px;
  overflow-y: hidden;
  //grid-auto-rows: 0; tengo que revisar para que lo separe por secciones
  grid-template-rows: 1fr;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill,minmax(var(--minimumColumnWidth),1fr));
}

