#main-container{
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.dash-container{
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "sidebar main-view"
    "now-playing now-playing";
}

.pro-sidebar{
  grid-area: sidebar;
  min-width: 232px;
  width: 232px;
  z-index: 3;
}

.player-container{
  //height: 96px; //change now-player height to 91px
  grid-area: now-playing;
  z-index: 4;
}

.view-container{
  grid-area: main-view;
  height: 85vh;
  overflow: auto;
}

#topBar-space{
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #383838
}